@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Protest Riot", system-ui, sans-serif;
}

body {
  background: url("./assets/bg1.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}